# Editor data
.idea
# Vitrual env
.venv
# Documentation build
/docs/build
# Worker js modules
/worker/app/proxy/node_modules/
/worker/app/proxy/log
# Database dump
/db/dump/
# Database data
/deployment/local/pgdata
# Misc files
/etc/
